#user-login-form ul {
  margin-top: 0;
}
#user-login ul {
  margin: 0 0 5px;
}
#user-login ul li {
  margin: 0;
}
#user-login-form .windowslive-links {
  padding-bottom: 0;
}
#user-login .windowslive-links {
  padding-left: 0; /* LTR */
}
#user-login-form .windowslive-links li,
#user-login .windowslive-links li {
  display: none;
  list-style: none;
}
html.js #user-login-form li.windowslive-link,
html.js #user-login li.windowslive-link {
  display: block;
  margin-left: 0; /* LTR */
}
#user-login-form li.windowslive-link a,
#user-login li.windowslive-link a {
  padding: 0 0 0 0; /* LTR */
}
